body{
    border: solid rgb(16, 5, 118);
    color:rgb(250, 247, 247);
    width: 80%;
    height: 50%;
    margin: 90px;
    padding: 70px;
    background-image: url(foto2.jpg);
}

h1{
    text-align: center;
    color: rgb(233, 233, 233);
}

.Raya{
    width: 100%;
    height: 20px;
    background: rgb(1, 1, 94);
}

.Grid1{
    display: grid;
    background-color: rgb(174, 213, 132);
    grid-template-columns: auto;
}

.Grid1 div{
    border: 0.5px solid rgb(255, 255, 255);
    color: rgb(13, 4, 83);
}

.Grid2{
    display: grid;
    background-color: rgb(126, 158, 181);
    grid-template-columns: auto;
}

.Grid2 div{
    border:0.5px solid rgb(255, 255, 255);
    color: rgb(13, 4, 83);
}

.Grid3{
    display: grid;
    background-color: rgb(113, 184, 121);
    grid-template-columns: auto;
}

.Grid3 div{
    border:0.5px solid rgb(255, 255, 255);
    color: rgb(13, 4, 83);
}