/* src/styles/AddClinicalData.css */
.add-clinical-data-container {
    padding: 20px;
    background-image: url('../image/fondo.png');
    min-height: 100vh;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-clinical-data-form {
    background: #fff;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
    text-align: center;
    margin: 20px;
  }
  
  .add-clinical-data-form h2 {
    margin-bottom: 20px;
  }
  
  .add-clinical-data-form input,
  .add-clinical-data-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  .add-clinical-data-form textarea {
    resize: vertical;
  }
  
  .add-clinical-data-form button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
  }
  
  .add-clinical-data-form button:hover {
    background-color: #0056b3;
  }
  
  #back-button {
    background-color: #000000;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: 10%;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #back-button:hover {
    background-color: #69aec4;
  }