/* Historial.css */

/* Contenedor principal del historial clínico */
.historial-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 10000px;
    min-height: 100vh;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Encabezado de la página */
.historial-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Tabla de historial clínico */
.historial-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.historial-table thead {
    background-color: #000000;
    color: #fff;
}

.historial-table th, .historial-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.historial-table th {
    font-size: 16px;
}

.historial-table tbody tr {
    background-color: #f2f2f2;
}

.historial-table tbody tr:hover {
    background-color: #0a8514;
}

/* Mensaje cuando no hay datos clínicos */
.historial-container p {
    text-align: center;
    font-size: 18px;
    color: #666;
}

/* Estilos de la barra de navegación */
.navbar {
    margin-bottom: 20px;
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #11869b;
    border-radius: 4px;
}
