.body{
    background-image: url('../image/fondo.png');
}
.container {
    max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    color: rgb(255, 255, 255);
}
.h1, .h2 {
        color: #00142f;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color:#00142f;
    color: white;
}
.logo {
    width: 200px;
    height: auto;
}
.form-register {
    width: 550px;
background: #00142f;
padding: 30px;
margin: auto;
margin-top: 10px;
border-radius: 4px;
color: white;
}
.Controls {
    margin-bottom: 10px;
    padding: 8px;
    background-color: rgba(19, 145, 208, 0.432);
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(19, 145, 208, 0.432);
    border-radius: 4px;
    font-size: 16px;
    text-decoration:line ;
    color: white;
}
.button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        font-size: 18px;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }
    .button-register {
        background-color: rgb(0, 0, 0);
        width: fit-content;
        align-content: var(right);
    }
    .button-register:hover {
        background-color: #69aec4;
    }
    .button-login {
        background-color: rgb(0, 0, 0);
        width:fit-content;
        align-content: var(right);
    }
    .button-login:hover {
        background-color: #69aec4;
    }
    .p {
        line-height: 1.6;
    }
        footer {
        background-color: #00142f;
        color: white;
        text-align:center;
        padding: 10px;
        position:static;
        bottom: 0;
        left: 0;
        width: 100%;
    }