/* src/styles/Register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }  

  .register-form {
    margin-top: 80px;
    margin-bottom: 80px;
    background: #e9eb7eb4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .register-form h2 {
    margin-bottom: 20px;
  }
  
  .register-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .register-form button:hover {
    background-color: #69aec4;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .Logo{
    width: auto;
    height: 100px;
  }

  
#back-button {
  background-color: #000000;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  width: 10%;
  position: absolute;
  top: 10px;
  left: 10px;
}
#back-button:hover {
  background-color: #69aec4;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.register-container{
  background-image: url('../image/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}