body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(fondo.jpg);
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
    position:center;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-data {
    margin-top: 20px;
    text-align: left;
}

.user-data label {
    display: block;
    margin-bottom: 5px;
}

.user-data input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-data table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-data table, .user-data th, .user-data td {
    border: 1px solid #ccc;
}

.user-data th, .user-data td {
    padding: 10px;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
